<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Kotikokki')" lang="en">
        <meta charset="UTF-8" />
        <title>Otsikko</title>
    </head>
    <body>
        <header th:replace="fragments/layout :: header"></header>
        
        <div class="container" >
            <div class="row" th:if="${uusi}">
                <div class="col-xs-12 col-md-12" th:text="${error}"/>
            </div>
            
            <div class="row">
                <div class="col-xs-12 col--md-12">
                    <h3><b>Tervetuloa sivustolle!</b></h3>
                    <p>Sivustolle on kerätty erilaisia reseptejä, joita kuka tahansa osaa valmistaa. 
                        Kirjautuneet käyttäjät voivat myös lisätä itse omia reseptejä ja halutessaan merkata reseptit julkisiksi,
                    jolloin muut käyttäjät näkevät ne. Resepteihin voi myös lisätä kuvan valmiista ruoka-annoksesta.</p>
                    <p>Reeptejä voi lisätä ruokalistoihin sekä reseptin raaka-aineet valita ostoslistaan. (toiminnallisuudet ovat vielä työn alla)</p>
                </div>
            </div>
            
            <div class="row" th:if="${kirjautunut=='false'}">
                <div class="col-xs-12 col-md-12">
                    Voit luoda uuden tunnuksen täältä -> <a th:href="@{/rekisteroidy}">Luo uusi tunnus</a>
                </div>
            </div>
            
            
            <div class="row top-buffer">
                <div class="col-xs-4 col-md-4">
                    <h4>Sivuston statistiikkaa</h4>
                        <div class="row top-buffer">
                            <div class="col-xs-8 col-md-10">Reseptejä</div>
                            <div class="col-xs-4 col-md-2" th:text="${reseptiLkm}">0</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-md-10"><span class="sisennys">Kuvalla</span></div>
                            <div class="col-xs-4 col-md-2" th:text="${reseptitKuvalla}">0</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-md-10"><span class="sisennys">Julkisia</span></div>
                            <div class="col-xs-4 col-md-2" th:text="${julkisetLkm}">0</div>
                        </div>
                        
                        <div class="row top-buffer">
                            <div class="col-xs-8 col-md-10">Käyttäjiä</div>
                            <div class="col-xs-4 col-md-2" th:text="${kayttajaLkm}">0</div>
                        </div>
                    
                </div>
            </div>
            
            
        </div>
        <footer th:replace="fragments/layout :: footer"></footer>  
    </body>
</html>
