<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title='Outlet')" lang="en">
        <meta charset="UTF-8" />
        <title>Otsikko</title>
    </head>
    <body>
            <div class="container">
                <form method="GET" th:action="@{/vkoutlet}" enctype="multipart/form-data" id="outlet">
                    <div class="row">
                        <div class="col-md-3"><input class="inputbox-pitka" type="text" name="value" placeholder="arvo"/></div>
                        <div class="col-md-2"><input type="date" name="date"></div>
                        <div class="col-md-1"><a href="/vkoutlet/historia">poistuneet</a></div>
                        <div class="col-md-1"><a href="/vkoutlet?value=-999&date=&nappi=Ale"><10% NoApple</a></div>
                        <div class="col-md-1"><a th:href="${'/vkoutlet?value=0&date='+twoWeeksAgo+'&nappi=Muuttunut'}">>14 pv </a></div>
                        <div class="col-md-1"><a th:href="${'/vkoutlet?value=98&date='+twoWeeksAgo+'&nappi=Muuttunut'}">>14 pv, >100€</a></div>
                        <div class="col-md-1"><a th:href="${'/vkoutlet?value=348&date='+twoWeeksAgo+'&nappi=Muuttunut'}">>14 pv, >350€</a></div>
                        <div class="col-md-1"><a th:href="${'/vkoutlet?value=998&date='+twoWeeksAgo+'&nappi=Muuttunut'}">>14 pv, >1000€</a></div>
                        <div class="col-md-1"><a th:href="${'/vkoutlet?value=98&date='+monthAgo+'&nappi=Muuttunut'}">>32 pv, >100€</a></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3" th:text="${riveja + ' / ' + totalRows + ' Noudettu: ' +listaHaettu}">0</div>
                        <div class="col-md-1"><a href="/vkoutlet/reload">reload</a></div>
                        <div class="col-md-1"><a href="/vkoutlet/stats">stats</a></div>
                        <div class="col-md-1"><a href="/vkoutlet?value=5&nappi=D&date=">yli 5 kpl</a></div>
                        <div class="col-md-1"><a href="/vkoutlet?value=14&nappi=A&date=">yli 14pv sitten del</a></div>
                    </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                </div>
            
            <div class="row">
                <div class="col-md-12">
                <table class="table">
                <thead>
                    <tr>
                        <th><button name="nappi" type="submit" value="IDd">&uArr;</button><button name="nappi" type="submit" value="IDa">&dArr;</button></th>
                        <th class="col-md-6"><input type="submit" name="nappi" value="Tuote"/></th>
                        <th>Hinta<br><button name="nappi" type="submit" value="Hinta">&uArr;</button><button name="nappi" type="submit" value="Hintad">&dArr;</button></th>
                        <th>Viimeisin</th>
                        <th>Ale%<br><button name="nappi" type="submit" value="Ale">&uArr;</button><button name="nappi" type="submit" value="Aled">&dArr;</button></th>
                        <th>Takuu</th>
                        <th><span title="Kuntoluokka">Kl</span></th>
                        <th><input type="submit" name="nappi" value="A"/></th>
                        <th><span title="Kampanja meneillään">K</span></th>
                        <th><input type="submit" name="nappi" value="D"/></th>
                        <th><span title="Tuote tilattavissa, varastosa kpl">V</span></th>
                        <th><input type="submit" name="nappi" value="Muuttunut"/></th>
                        <th><span title="Päiviä aktiivisena (kaikkiaan / viimeisimmällä hinnalla)">pA</span></th>
                    </tr>
                </thead>
                    <tr th:each="outlet : ${outletTuotteet}" class="table">
                        <td><a th:class="${outlet.isDeleted()}" th:title="${'PID'+outlet.pid}" th:href="${'/vkoutlet/?value='+outlet.pid+'&date=&nappi=Tuote'}" th:text="${outlet.outId}">outID</a></td>
                        <td><a th:class="${outlet.isDeleted()}" th:title="${'PID luotu: '+outlet.pidLuotu}" th:href="${'/vkoutlet/?value='+outlet.similarName()+'&date=&nappi=Tuote'}" th:text="${outlet.name}">TuoteNimi</a></td>
                        <td><span th:class="${outlet.isDeleted()}" th:text="${#numbers.formatDecimal(outlet.outPrice, 1, 2)}+'€'"></span></td>
                        <td><span th:class="${outlet.isDeleted()}" th:text="${#numbers.formatDecimal(outlet.norPrice, 1, 2)}+'€'"></span></td>
                        <td><span th:class="${outlet.isDeleted()}" th:text="${#numbers.formatDecimal(outlet.alennus == null ? 0 : outlet.alennus, 0, 0)+' %'}"></span></td>
                        <td><span th:class="${outlet.isDeleted()}" th:text="${outlet.warranty+' kk'}"></span></td>
                        <td><span th:class="${outlet.isDeleted()}" th:text="${outlet.condition}"></span></td>
                        <td><span th:class="${outlet.isDeleted()}"><div th:if="${!outlet.poistotuote}"><span title="Ei aktiivinen tuote">Ei</span></div></span></td>
                        <td><span th:class="${outlet.isDeleted()}"><div th:if="${outlet.kampanja}"><span title="Kampanja meneillään" th:title="${'Kampanja '+outlet.kamploppuu+' asti'}">K</span></div></span></td>
                        <td><span th:class="${outlet.isDeleted()}"><div th:if="${outlet.dumppituote}"><span title="Dumppituote">D</span></div></span></td>
                        <td><span th:class="${outlet.isDeleted()}"><div th:if="${outlet.onVarasto}"><span title="Tilattavissa. Varastossa kpl" th:text="${outlet.varastossa}">0</span></div></span></td>
                        <td><span th:class="${outlet.isDeleted()}" th:text="${outlet.changedOrDeleted()}"></span></td>
                        <td><span th:class="${outlet.isDeleted()}" th:text="${outlet.daysActive()}"></span></td>
                    </tr>
                </table>
            </div>
                </div>
                </form> 
        </div>
    </body>
</html>
