<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(title=${resepti.nimi})" lang="en">
        <meta charset="UTF-8" />
        <title>Otsikko</title>
    </head>
    <body>
        <header th:replace="fragments/layout :: header"></header>
        
        <div class="container">
            <div class="row bottom-buffer">
                <div class="col-xs-12 col-md-12"><h2 th:text="${resepti.nimi}">Resepti</h2></div>
                <div class="col-xs-12 col-md-12"><a th:href="@{/reseptit}">Takaisin</a></div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    Raaka-aineet:
                    <ul>
                    <li th:each="reseptiRaakaAine : ${resepti.reseptiRaakaAineet}" 
                        th:text="${#numbers.formatDecimal(reseptiRaakaAine.maara, 0, T(Math).round(reseptiRaakaAine.maara) == reseptiRaakaAine.maara ? 0 : 2) + ' '+
                        reseptiRaakaAine.yksikko + ' ' +
                        reseptiRaakaAine.raakaAine.nimi}"/>
                    
                </ul>
                </div>
                <div class="col-xs-10 col-md-6">
                    <img th:if="${resepti.kuva!=null}" th:src="@{/resepti/{id}/kuva(id=${resepti.id})}" width="100%" style="border-radius: 5%"/>
                    <img th:unless="${resepti.kuva!=null}" th:src="@{/img/ei_kuvaa.png}" height="100%" style="border-radius: 50%"/>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <span th:text="'Keittoaika '+${resepti.keittoaika}+' min.'"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <span th:text="'Annosmäärä '+${resepti.annokset}+' annosta.'"></span>
                </div>
            </div>

            
            <div th:if="${username==resepti.tili.username}" class="row">
                 <div class="col-xs-12 col-md-12">
                    <form th:if="${resepti.kuva==null}" method="POST" th:action="@{/resepti/{id}/kuva(id=${resepti.id})}" enctype="multipart/form-data">
                    <input type="file" name="kuva" id="picture"/>
                    <input type="submit" value="Lisää kuva!"/>
                </form>
                 </div>
            </div>   
            <div class="row" th:if="${username!=null}">
                <div class="col-xs-12 col-md-12">
                    Toiminnot:
                </div>
            </div>
                
            <div class="row" th:if="${username!=null}">
                    <div class="col-xs-12 col-12">
                        <a th:href="@{/resepti/{id}/ruokalistaan(id=${resepti.id})}">Lisää ruokalistaan</a>
                        <div th:if="${username==resepti.tili.username}">
                            <a th:href="@{/resepti/{id}/editoi(id=${resepti.id})}">Muokkaa </a>
                            <a th:if="${resepti.julkinen==false}" th:href="@{/resepti/{id}/julkiseksi(id=${resepti.id})}">Aseta julkiseksi </a>
                            <a th:unless="${resepti.julkinen==false}" th:href="@{/resepti/{id}/yksityiseksi(id=${resepti.id})}">Aseta yksityiseksi </a>
                            <a th:href="@{/resepti/{id}/poista(id=${resepti.id})}">Poista resepti</a>
                            <a th:href="@{/resepti/{id}/poistakuva(id=${resepti.id})}">Poista kuva</a>
                        </div>
                    </div>
            </div>

            <div class="row top-buffer">
                <div class="col-xs-12 col-md-12"><pre class="resepti" th:text="${resepti.ohje}"/></div>
            </div>
            
            <div class="row top-buffer">
                <div class="col-xs-12 col-md-12">
                    <span th:text="'Reseptin lähde: '+${resepti.lahde}"></span>
                </div>
            </div>
        </div>
      <footer th:replace="fragments/layout :: footer"></footer>  
    </body>
</html>
